{% extends 'base.html.twig' %}

{% block body %}
<div class=container>
    <div class="d-flex justify-content-between mb-5" >
         <h1>Mon panier</h1> 
         <p>Total: nbr films</p>
    </div>
    <div>
        <div class="d-flex justify-content-between border mb-1 p-4 " >
            <div class="d-flex" >
                <img class="mr-3" src="https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"style="width: 8rem;" >
                    <div>
                        <h2>film title </h2>
                        <p> film resume</p>
                    </div>
            </div>
             <div class="d-flex align-items-center">
                <a class="btn btn-dark" href="">Retirer</a>
            </div>
        </div>
    </div>
   

</div>
{% endblock %}
