{% extends 'base.html.twig' %}

{% block body %}

<div class=container>
    <div class= "row mb-5 mt-5"   >
        <h1>Films</h1>
        <div>
        <form action= method=post>
            <input id=search_movie type=search placeholder="Taper le nom d'un film">
            <button>Rechercher</button>
        </form>
        </div>
        <div id="movie_filters">
            <button> Titres de Z à A </button>
            <button> Du + récent au + ancien </button>
            <button> Disponible immédiatement </button>

        </div>
    
    </div>

    <div class="row ">
        <div class="col-12 col-md-8">

            

            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">movie title movie release</h5>
                        <p class="card-text"></p>
                    </div>
                    <div>
                        <i></i>
                        <p>movie.available</p>
                    </div>
                    <div>
                        <a class="btn btn-dark" href="{{ path('borrow')}}">Ajouter au panier </a>
                    </div>

                </div>
            </div>
            
        </div>
        <div class="col-6 col-md-4">
            <div class= row>
                <h2 class= "mb-5">Mes locations</h2>
            </div>
            <div class=row>
                <img class= "mr-3" src="https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"style="width: 6rem;">
                <div>
                    <h2>Titre Film</h2>
                    <a class="btn btn-dark" href="">Rendre</a>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock %}
