{% extends 'base.html.twig' %}

{% block body %}

<div class=container>
<h1>Add with the help of the api</h1>
  <form action={{ path('api_call')}} method=post>
            <input id="search_movie" name="search_movie"type="search" placeholder="Taper le nom d'un film">
            <button type=submit >Rechercher</button>
        </form>
<h1>Add manually</h1>
  {{form_start(form)}}
    {{form_row(form.title)}}   
    {{form_row(form.resume)}}
    {{form_row(form.year)}}
{{form_row(form.released)}}   
    {{form_row(form.runtime)}}
    {{form_row(form.genre)}}
{{form_row(form.director)}}   
    {{form_row(form.language)}}
    {{form_row(form.country)}}
     {{form_row(form.awards)}}
    {{form_row(form.poster)}}
{{form_row(form.type)}}   
    {{form_row(form.DVD)}}
    {{form_row(form.Production)}}
        {{form_row(form.available)}}

    <button type="submit">Ajouter à la bibliothèque</button>
  {{form_end(form)}}


</div>


{% endblock %}
