<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <header>
{# {% block nav %} #}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">SIMPLONFilms</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home"> Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Mon panier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Déconnexion</a>
      </li>
      {# <li class="nav-item">
        <a class="nav-link" href="">About</a>
      </li> #}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Rechercher un film ..">
      <button class="btn btn-secondary btn-outline-danger my-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-search">Search</span></button>
    </form>
  </div>
</nav>

{# {% endblock %} #}
    </header>
    <body>
        {% block body %}
            {# <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Liste des films</a></li>
                <li class="breadcrumb-item active">Library</li>
            </ol> #}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
